body {
    background-color: black;
    align-content: center;
  }



.navbar {
    background-color: #000000;
    color:white;
    height: 7rem;
    border: 3px solid white;
    border-radius: 15px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right:10%;
    padding: 10px;
    position: relative;
    z-index: 9999;
    font-size: 5rem;
  }

p {

  font-size: 3rem;
}

small {
  font-size: 2rem;
}

h3 {
  font-size: 4rem;
}

h1 {
  font-size:5rem;
}

hr {
  color: white;
}


a {
    color: white
  }

a:hover {
    color: white
  }

.fa-github:hover   {
    color: rgb(108, 198, 68);
  }  

.fa-linkedin:hover   {
    color: rgb(10, 102, 194);
  }
  
.fa-address-card:hover   {
    color: red
  }
  
.fa-folder:hover {
  color: rgb(245, 211, 16);
}

.email:hover{
  color: green;
}

.project:hover{
  color: rgb(245, 211, 16);
}

.fa-info:hover{
  color:blue
}


.logo {
    width: 10rem;
  }

.jumbotron{
  background-color: black;
  color: white;
  font-size: 25px;
  margin-left: 10%;
  margin-right: 10%;
}

.rub1{
  height: 5rem;
  float: left;
  border: 2px white solid;
  margin: 5px;
  padding: 5px;
  border-radius: 50%;

}

.rub2{
  height: 5rem;
  float: right;
  border: 2px white solid;
  margin: 5px;
  padding: 5px;
  border-radius: 50%;

}

.alert{
  color:green;
  padding: 2px;
  margin: 2px;
  border: 1px green solid;

  
}