{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">

    <h1 class="display-4">Contact Information</h1>
    <hr>
    <h3><i class="fa-regular fa-envelope"></i></h3>
    <p class="email" id="email" title="Copy Email">vickytang415@gmail.com </p>
    <p class="alert" id="form_output" style="display:none"></p>
    <h3><i class="fa-solid fa-phone"></i> </h3>
    <p> +1 516-841-2559 (usa) </p>
    <p> +82 01-3823-4151 (kor) </p>
    <h3><i class="fa-solid fa-location-dot"></i></h3>
    <p> Bensonhurst Brooklyn, NY 11223 </p>
</div>



{% endblock %}