{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Vicky Lee: A Retrospective</h1>
    <hr>
        <img src="/static/images/rubicks1.png" class="rub1"/>
        <p class="lead">April 15th, 1991 I was born. It was also tax day, but luckily my parents filed their taxes in February, being the pragmatic folks that they are, and all was well. Then many boring things occurred, and many parent-teacher conference calls were had. Tears were shed. Stairs were fallen down. Finally, something wondrous happened.</p>
        <img src="/static/images/rubicks2.png" class="rub2"/>
        <p class="lead">My family bought our first computer when I was seven years old. It ran Windows 95 and it was amazing. You could play solitaire. You could paint a picture using ms-paint. You could type up a letter under the watchful gaze of a paper clip. It was my first taste of technology, and also the first time I saw a command line when that computer inevitably broke down. </p>
        <img src="/static/images/rubicks3.png" class="rub1"/>
        <p class="lead">Fast forward to high school, where I took my first coding class. We got to take laptops home after we turned in notarized permission forms. It was also at that time, I learned what a notary was. I mastered my first coding language, Visual Basic. For my final project, I made a little character dash across a screen, and jump over a block, all at the touch of your fingers. It was a Basic side-scrolling adventure, with an average gameplay time of 30 seconds. </p>
        <img src="/static/images/Rubicks4.png" class="rub2"/>
        <p class="lead">Then came time for college. I had many choices, computer science being one of them. But I had chosen my other great love, Physics. However, it wouldn’t be the last time that I wrote code. As it happens, modeling particles in space, and generating blocks of point particles to run in simulation. Well… that required coding, and that's when I learned my second language, Matlab. The for-loops and if-statements came rushing back at me. In my four year stint, I’d also created a program that could predict sports game winnings, using Bayesian data Analysis that had a 90 percent accuracy. Of course that was a lot less academically sound then my previously mentioned, though a lot more potentially lucrative. </p>
        <img src="/static/images/Rubicks5-scrambled.png" class="rub1"/>
        <p class="lead">Now adulthood, a bit aimless. I taught physics for two years, and discovered that teenagers didn’t like physics. I switched over to English, and really enjoyed it. I moved to another country where I didn’t speak the language. I got back in touch with a friend, who told me about an expensive coding bootcamp.</p>
        <img src="/static/images/Rubicks5.png" class="rub2"/>
        <p class="lead">After one car-ride discussion with my husband, I decided that I would like to learn coding properly, intensively. I blasted through their year-long course in six months. I added to my meager repertoire: Python, Javascript, Flask, Node.js and React. But more importantly, I’d learned I could make things, whatever I wanted, work through any problem in coding! </p>
        <img src="/static/images/Rubickstar.png" class="rub1"/>
        <h3>AND THUS I BECAME A CERTIFIED SOFTWARE DEVELOPER!</h3>
</div>



{% endblock %}