{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">

    <h1 >Projects</h1>
    <p><small>Note: These are web applcations. Don't try to open it on a phone unless you want to see a poor attempt at cubism</small></p>
    
    <hr>
        <img src="/static/images/violet.png" height="75px"/>
        <p>Do you like listening to music, but you're tired of the same ten songs over and over again? Try Violet, our algorithm will recommend you songs that you've never heard before! Energize your playlists, fuel your life! </p>
        <p><small>Tech Stack: React, Node.js, Express.js, Jsonwebtoken authentication, Fontawesome, CSS, Custom API Middleware, Logo design. Testing using react-testing-libary </small></p>
        <a href="https://capstone-project-two.onrender.com/" target="_blank" class="project">Start Listening Today!</a>
    

    
    <hr>

        <h3>Hangul * Dex </h3>
        <img src="/static/images/hangul-dex.png" height="75px"/>
        <p> Tired of wasting index cards? Want to learn Korean, but don't want to pay monthly subscription? Try Hangul * Dex, an easy to use flash card making application, that autogenerates the korean translation itself! </p>
        <p><small>Tech Stack: Flask, Python, Bcrypt, Postgresql, Javascript, Axios, HTML, CSS </small></p>
        <a href="https://capstone-one-hanguldex.onrender.com/" target="_blank" class="project">Start Learning Today!</a>
    
</div>

{% endblock %}